<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h4>Gerar nova senha</h4>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <div class="alert alert-danger" ng-show="invalidKey">
                                    <strong>
                                        A chave de redefinição de senha é inválida.
                                    </strong>
                                </div>

                                <div class="alert alert-warning" ng-hide="success || keyMissing || error">
                                    <p>
                                        Escolha uma nova senha
                                    </p>
                                </div>

                                <div class="alert alert-danger" ng-show="error">
                                    <p>
                                        Sua senha não pode ser reiniciada.
                                        A solicitação de "esqueci minha senha" é valida por 24 horas.
                                    </p>
                                </div>

                                <div class="alert alert-success" ng-show="success">
                                    <p>
                                        <strong>Sua nova senha foi gerada.</strong>
                                        Acessa a página de
                                        <a href="#/login">login</a>, informe sua nova senha e tenha acesso ao sistema.
                                    </p>
                                </div>

                                <div class="alert alert-danger" ng-show="doNotMatch">
                                    As senhas informadas não são iguais.
                                </div>
                            </div>

                            <div ng-hide="keyMissing || error">
                                <form ng-show="!success" name="form" role="form" novalidate ng-submit="finishReset()"
                                      show-validation>
                                    <div class="form-group">
                                        <label>Nova Senha</label>
                                        <input type="password" class="form-control" name="password"
                                               placeholder="Nova Senha"
                                               ng-model="resetAccount.password" ng-minlength=5 ng-maxlength=50 required>

                                        <div ng-show="form.password.$dirty && form.password.$invalid">
                                            <p class="help-block"
                                               ng-show="form.password.$error.required">
                                                Informe a nova senha.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.password.$error.minlength">
                                                Sua senha deve ter pelo menos 5 caracteres.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.password.$error.maxlength">
                                                Sua senha não pode ter mais de 50 caracteres.
                                            </p>
                                        </div>
                                        <password-strength-bar
                                            password-to-check="resetAccount.password"></password-strength-bar>
                                    </div>

                                    <div class="form-group">
                                        <label>Confirme a Nova Senha</label>
                                        <input type="password" class="form-control" name="confirmPassword"
                                               placeholder="Confirme sua nova senha"
                                               ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>

                                        <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.required">
                                                Informe a nova senha.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.minlength">
                                                Sua senha deve ter pelo menos 5 caracteres.
                                            </p>

                                            <p class="help-block"
                                               ng-show="form.confirmPassword.$error.maxlength">
                                                Sua senha não pode ter mais de 50 caracteres
                                            </p>
                                        </div>
                                    </div>
                                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary btn-block">
                                        Gerar nova senha
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
