<div class="ibox animated fadeInDown">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class='form-group'>
                    <input type='text' class='form-control'
                           ng-model='searchFilter' id='searchQuery'
                           placeholder='Pesquisar ...'>

                </div>
                <div class="faq-item" ng-repeat="perguntaAndResposta in perguntasAndRespostas | filter:searchFilter">
                    <div class="row">
                        <a class="faq-question" data-toggle="collapse"
                           href="#/perguntas-respostas#teste{{$index}}"
                           aria-expanded="false">{{perguntaAndResposta.assuntoNfseDTO.descricao}} -
                            {{perguntaAndResposta.pergunta}}?</a>
                    </div>
                    <div class="row">
                        <div id="teste{{$index}}" class="panel-collapse collapse" aria-expanded="true" style="">
                            <div class="faq-answer">
                                <p>
                                    {{perguntaAndResposta.resposta}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>