<div class="row">
    <div class="col-lg-12">
        <form name="editForm" role="form" novalidate>
            <div class="ibox float-e-margins animated fadeInDown">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Dados do Prestador do Serviço</h3>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="fodrm-group">
                            <div class="col-md-2">
                                <label for="field_cpf_cnpj_prestador">CPF/CNPJ</label>
                                <input type="text" class="form-control" name="cpfCnpjPrestador"
                                       ui-br-cpfcnpj-mask
                                       id="field_cpf_cnpj_prestador"
                                       readonly
                                       ng-model="notaFiscalAvulsa.prestador.dadosPessoais.cpfCnpj">
                            </div>
                            <div class="col-md-10">
                                <label for="field_nome_razao_social_prestador">Nome/Razão Social</label>
                                <input type="text" class="form-control" name="nomeRazaoSocialPrestador"
                                       id="field_nome_razao_social_prestador"
                                       readonly
                                       ng-maxlength="7"
                                       ng-model="notaFiscalAvulsa.prestador.dadosPessoais.nomeRazaoSocial">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins animated fadeInDown">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Dados da Nota Fiscal Avulsa</h3>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="fodrm-group">
                            <div class="col-md-3">
                                <label for="field_numero_nota">Número</label>
                                <input type="number" class="form-control" name="numeroNota" id="field_numero_nota"
                                       readonly
                                       ng-maxlength="7"
                                       ng-model="notaFiscalAvulsa.numero">
                            </div>
                            <div class="col-md-3">
                                <label for="field_data_nota">Data da Nota</label>
                                <input class="form-control"
                                       value="{{notaFiscalAvulsa.dataNota | date:'dd/MM/yyyy': '+0000'}}"
                                       id="field_data_nota"
                                       readonly
                                       name="dataNota">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins animated fadeInDown">

                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Para quem foi prestado o serviço?</h3>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-md-12">
                            <div class="row animated fadeInDown">
                                <div class="form-group col-md-4">
                                    <label
                                        class="control-label"
                                        for="field_cpfCnpj">CPF ou CNPJ</label>

                                    <div class="input-group">
                                        <input type="text" class="form-control" name="cpfCnpj" id="field_cpfCnpj"
                                               ui-br-cpfcnpj-mask
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.cpfCnpj"
                                               required>
                                    </div>
                                </div>
                            </div>
                            <div class="fadeInDown animated">
                                <div class="row" ng-show="!isFisica()">
                                    <div class="form-group col-md-4">
                                        <label
                                            for="field_inscricaoMunicipal">Inscrição Municipal</label>

                                        <input type="text" class="form-control" name="inscricaoMunicipal"
                                               readonly
                                               id="field_inscricaoMunicipal"
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.inscricaoMunicipal">
                                    </div>

                                    <div class="form-group col-md-8">
                                        <label
                                            class="control-label"
                                            for="field_nomeFantasia">Nome Fantasia</label>
                                        <input type="text" class="form-control" name="nomeFantasia"
                                               id="field_nomeFantasia"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.nomeFantasia">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4"
                                         ng-if="!isFisica()">
                                        <label
                                            class="control-label"
                                            for="field_inscricaoEstadual">
                                            Inscrição Estadual
                                        </label>

                                        <input type="text" class="form-control" name="inscricaoEstadual"
                                               id="field_inscricaoEstadual"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.inscricaoEstadualRg">


                                    </div>

                                    <div class="form-group col-md-4"
                                         ng-if="isFisica()">
                                        <label
                                            class="control-label"
                                            for="field_rg">
                                            RG
                                        </label>

                                        <input type="text" class="form-control" name="rg"
                                               id="field_rg"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.inscricaoEstadualRg">

                                    </div>

                                    <div
                                        class="form-group col-md-8">
                                        <label
                                            class="control-label"
                                            for="field_nomeRazaoSocial"> {{isFisica() ? 'Nome ':'Razão Social'}}</label>

                                        <input type="text" class="form-control" name="nomeRazaoSocial"
                                               id="field_nomeRazaoSocial"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.nomeRazaoSocial"
                                               required>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group col-md-9">
                                        <label for="field_email">e-Mail</label>
                                        <input type="text" class="form-control" name="email" id="field_email"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.email">

                                    </div>

                                    <div class="form-group col-md-3">
                                        <label
                                            for="field_telefone">Telefone</label>
                                        <input type="text" class="form-control" name="telefone" id="field_telefone"
                                               ui-br-phone-number
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.telefone">
                                    </div>
                                </div>

                                <div class="row fadeInDown animated">

                                    <div class="form-group col-md-2">
                                        <label for="field_cep">Cep</label>
                                        <input type="text" class="form-control" name="id" id="field_cep"
                                               ui-br-cep-mask
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.cep">
                                    </div>
                                    <div class="form-group col-md-8">
                                        <label for="field_nome_municipio">Município</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="nome_municipio"
                                                   id="field_nome_municipio"
                                                   disabled
                                                   ng-model="notaFiscalAvulsa.tomador.dadosPessoais.municipio.nome">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-2">
                                        <label for="field_estado_municipio">Estado</label>
                                        <input type="text" class="form-control" name="estado_municipio"
                                               id="field_estado_municipio"
                                               disabled
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.municipio.estado">

                                    </div>

                                    <div class="form-group col-md-12">
                                        <label
                                            for="field_logradouro">Logradouro</label>
                                        <input type="text" class="form-control" name="logradouro"
                                               id="field_logradouro"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.logradouro"
                                        >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="field_bairro">Bairro</label>
                                        <input type="text" class="form-control" name="bairro" id="field_bairro"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.bairro">

                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="field_numero">Número</label>
                                        <input type="text" class="form-control" name="numero" id="field_numero"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.numero">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label
                                            for="field_complemento">Complemento</label>
                                        <input type="text" class="form-control" name="complemento"
                                               disabled
                                               id="field_complemento"
                                               readonly
                                               ng-model="notaFiscalAvulsa.tomador.dadosPessoais.complemento">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins animated fadeInDown">
                <div class="ibox-content">
                    <div class="row">
                        <div class="form-group col-md-12"
                             ng-show="notaFiscalAvulsa.itens.length > 0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th colspan="6">
                                        Serviço prestado
                                    </th>
                                </tr>
                                <tr>
                                    <th>Código</th>
                                    <th>Descrição</th>
                                    <th>Alíquota</th>
                                    <th>Quant.</th>
                                    <th>Valor Unit.</th>
                                    <th>Valor Total</th>
                                    <th>Valor ISS</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in notaFiscalAvulsa.itens">
                                    <td class="col-md-1">{{item.servico.codigo}}</td>
                                    <td class="col-md-5">{{item.servico.descricao}}</td>
                                    <td class="col-md-1">{{item.servico.aliquota}}</td>
                                    <td class="col-md-1">{{item.quantidade}}</td>
                                    <td class="col-md-1">{{item.valorUnitario | currency : 'R$ '}}</td>
                                    <td class="col-md-2">{{item.valorTotal | currency : 'R$ '}}</td>
                                    <td class="col-md-1">{{item.valorIss | currency : 'R$ '}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row m-t-md">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" ui-sref="notaFiscalAvulsa">
                        <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Voltar</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
