<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="cancel()">&times;</button>
    <h4 class="modal-title" id="myServicoLabel">
        Discriminação dos Serviços</h4>
</div>
<div class="modal-body">
    <div class="row">
    </div>
    <div class="table-responsive" style="max-height: 400px; overflow-y: auto">

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Descrição</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="itemDeclaracao in itensDeclaracaoServico">
                <td>{{itemDeclaracao}}</td>
                <td class="pull-right">
                    <button type="submit"
                            ng-click="ok(itemDeclaracao)"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <span nfse-app-pagination></span>
</div>

