<ul class="nav nav-tabs" role="tablist">
    <li>
        <a class="nav-link active" ui-sref="notaFiscal">
            Nfs-e Emitidas
        </a>
    </li>
    <li>
        <a class="nav-link" ui-sref="notas-recebidas">
            Nfs-e Recebidas
        </a>
    </li>
    <li>
        <a class="nav-link" ui-sref="servicoDeclarado">
            Serviços Declarados
        </a>
    </li>
</ul>

<div class="ibox animated fadeInDown">
    <div class="ibox-content">
        <form name="formFiltros" class="validate-input">
            <div class="row">
                <div class="col-lg-12 text-right">
                    <button class="btn btn-outline btn-primary" ng-show="!mostrarFiltros"
                            ng-click="habilitarDesabilitarFiltros()">
                        <i class="fa fa-filter"></i> <span>Filtrar</span>
                    </button>

                    <button class="btn btn-primary" ui-sref="notaFiscal.new">
                        <i class="fa fa-plus"></i> <span>Emitir Nota</span>
                    </button>
                </div>
            </div>
            <div class="row m-t-md" ng-show="mostrarFiltros">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <div class="form-group col-md-3">
                            <label>Emissão Inicial</label>
                            <input enter-as-tab
                                   onkeypress="exec(this, mdata)"
                                   id="dataInicial"
                                   name="dataInicial"
                                   ng-model="emissaoInicial"
                                   class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Emissão Final</label>
                            <input enter-as-tab
                                   onkeypress="exec(this, mdata)"
                                   name="dataFinal"
                                   ng-model="emissaoFinal"
                                   class="form-control">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Operação</label>
                            <select class="form-control"
                                    ng-model="naturezaOperacao"
                                    ng-options="naturezaOperacao as 'nfseApp.NaturezaOperacao.' + naturezaOperacao.name | translate for naturezaOperacao in naturezasOperacao track by naturezaOperacao.value">
                            </select>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Situação</label>
                            <select class="form-control"
                                    ng-model="situacao"
                                    ng-options="situacao as 'nfseApp.SituacaoNota.' + situacao.name | translate for situacao in situacoes track by situacao.value">
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3 form-group">
                            <label>N° Nota Inicial</label>
                            <input enter-as-tab type="text"
                                   ng-model="notaFiscalInicial"
                                   class="form-control">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>N° Nota Final</label>
                            <input enter-as-tab type="text"
                                   ng-model="notaFiscalFinal"
                                   class="form-control">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>N° RPS</label>
                            <input enter-as-tab type="text"
                                   ng-model="numeroRps"
                                   class="form-control">
                        </div>
                        <div class="col-md-3 form-group">
                            <label>Série RPS</label>
                            <input enter-as-tab type="text"
                                   ng-model="serieRps"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 form-group">
                            <label>CPF/CNPJ Tomador</label>
                            <input enter-as-tab type="text"
                                   ng-model="cpfCnpjTomador"
                                   class="form-control">
                        </div>
                        <div class="col-md-8 form-group">
                            <label>Nome/Razão Social Tomador</label>
                            <input enter-as-tab type="text"
                                   ng-model="nomeRazaoSocialTomador"
                                   class="form-control">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-3">
                            <label>Competência Inicial</label>
                        </div>
                        <div class="col-md-3">
                            <label>Competência Final</label>
                        </div>
                    </div>

                    <div class="col-md-12 form-group">
                        <div class="col-md-1">
                            <input class="form-control"
                                   ng-required
                                   maxlength="4"
                                   ng-model="competenciaAnoInicial"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control"
                                    ng-required
                                    ng-model="competenciaMesInicial"
                                    ng-options="mes as mes.descricao for mes in meses track by mes.numeroMes"></select>
                        </div>
                        <div class="col-md-1">
                            <input class="form-control"
                                   ng-required
                                   maxlength="4"
                                   ng-model="competenciaAnoFinal"/>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control"
                                    ng-required
                                    ng-model="competenciaMesFinal"
                                    ng-options="mes as mes.descricao for mes in meses track by mes.numeroMes"></select>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    <button type="button"
                            ng-disabled="formFiltros.$invalid"
                            ng-click="loadAll()"
                            class="btn btn-primary">
                        <span class="fa fa-search"></span>
                        <span>Pesquisar</span>
                    </button>
                    <button ng-click="habilitarDesabilitarFiltros()"
                            class="btn btn-default">
                        <span class="fa fa-close"></span>
                        <span>Cancelar</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="row m-t-md">
            <div class="col-lg-12 text-right m-b-sm" ng-show="!mostrarFiltros">
                <small class="text-muted">Exibindo notas de {{emissaoInicial}} até {{emissaoFinal}}</small>
            </div>
            <div class="col-lg-12">
                <div id="div-tabela-notas" class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th class="issue-info col-md-1">
                                <a ng-click="ordenarPor('obj.numero')">
                                    <span ng-class="iconOrdenacao('obj.numero')"></span>
                                    Número
                                </a>
                                <small>
                                    <a ng-click="ordenarPor('obj.emissao')">
                                        <span ng-class="iconOrdenacao('obj.emissao')"></span>
                                        Emissão
                                    </a>
                                </small>
                            </th>
                            <th class="issue-info col-md-4">
                                <a ng-click="ordenarPor('dptnf.nomerazaosocial')">
                                    <span ng-class="iconOrdenacao('dptnf.nomerazaosocial')"></span>
                                    Tomador
                                </a>
                            </th>
                            <th class="text-right issue-info col-md-2">
                                Vlr Serviços
                                <small>Base de Calculo</small>
                            </th>
                            <th class="text-right  issue-info col-md-2">
                                Vlr ISS
                                <small>ISS Retido?</small>
                            </th>
                            <th class="issue-info">
                                <a ng-click="orderBy = 'dps.situacao'; sortReverse = !sortReverse; loadAll()">
                                    <span ng-show="orderBy == 'dps.situacao' && sortReverse"
                                          class="fa fa-caret-down"></span>
                                    <span ng-show="orderBy == 'dps.situacao' && !sortReverse"
                                          class="fa fa-caret-up"></span>
                                    Situação
                                </a>
                                <small>
                                    <a ng-click="orderBy = 'rps.numero'; sortReverse = !sortReverse; loadAll()">
                                    <span ng-show="orderBy == 'rps.numero' && sortReverse"
                                          class="fa fa-caret-down"></span>
                                        <span ng-show="orderBy == 'rps.numero' && !sortReverse"
                                              class="fa fa-caret-up"></span>
                                        RPS
                                    </a>
                                </small>
                            </th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="notaFiscal in notaFiscals">
                            <td class="issue-info">
                                <a ui-sref="notaFiscal.detail({id:notaFiscal.id})">{{notaFiscal.numero}}</a>
                                <small>{{notaFiscal.emissao | date:'dd/MM/yyyy': '+0000'}}</small>
                            </td>
                            <td class="issue-info">
                                <span ng-if="notaFiscal.modalidade == 'NAO_IDENTIFICADO'">
                                    {{'nfseApp.ModalidadeNota.' + notaFiscal.modalidade | translate}}
                                </span>
                                {{notaFiscal.nomeTomador}}
                                <small ng-if="notaFiscal.cpfCnpjTomador">
                                    {{notaFiscal.cpfCnpjTomador | brCpfCnpj}}
                                </small>
                            </td>
                            <td class="text-right issue-info">
                                {{notaFiscal.totalServicos | currency : 'R$ '}}
                                <small>
                                    {{notaFiscal.baseCalculo | currency : 'R$ '}}
                                </small>
                            </td>
                            <td class="text-right issue-info">
                                {{notaFiscal.issCalculado | currency : 'R$ '}}
                                <small>{{notaFiscal.issRetido ? 'Sim': 'Não'}}</small>
                            </td>
                            <td class="issue-info">
                                <strong class="{{notaFiscal.situacao === 'CANCELADA' || notaFiscal.situacao === 'NAO_EMITIDA' ? 'text-danger': 'text-navy'}}">
                                    {{'nfseApp.SituacaoNota.' + notaFiscal.situacao | translate}}
                                </strong>
                                <small>{{notaFiscal.codigoRps}}</small>
                            </td>
                            <td class="dropdown">
                                <button class="btn btn-white btn-sm dropdown-toggle"
                                        data-toggle="dropdown"
                                        data-boundary="viewport"
                                        type="button">
                                    <i class="fa fa-caret-down"></i>
                                    Opções
                                </button>

                                <ul class="dropdown-menu">

                                    <li>
                                        <a type="submit"
                                           title="clique para visualizar os dados deste documento"
                                           ng-click="baixarXMlNotaFiscal(notaFiscal.id)"
                                           class="text-info">
                                            <i class="fa fa-eye"></i>
                                            &ensp;
                                            Baixar XML
                                        </a>
                                    </li>

                                    <li>
                                        <a type="submit"
                                           ng-click="copiarNota(notaFiscal)"
                                           title="Clique para emitir um novo documento fiscal com os mesmos dados deste documento"
                                           class="text-warning">
                                            <i class="fa fa-copy"></i>
                                            &ensp;
                                            Copiar
                                        </a>
                                    </li>
                                    <li>
                                        <a type="submit"
                                           title="Clique para editar o documento"
                                           ng-if="notaFiscal.situacao == 'ABERTA'"
                                           ui-sref="notaFiscal.edit({id:notaFiscal.id})"
                                           class="text-primary">
                                            <i class="fa fa-pencil"></i>
                                            &ensp;
                                            Editar
                                        </a>
                                    </li>
                                    <li>
                                        <a type="submit"
                                           title="Clique para imprimir o documento"
                                           ng-click="imprimirNota(notaFiscal.id)"
                                           class="text-primary">
                                            <span class="fa fa-print"></span>
                                            &ensp;
                                            Imprimir
                                        </a>
                                    </li>
                                    <li>
                                        <a type="submit"
                                           title="Clique para enviar o documento via e-mail"
                                           ng-if="notaFiscal.situacao != 'CANCELADA'"
                                           ng-click="enviarNota(notaFiscal)"
                                           class="text-primary">
                                            <span class="fa fa-envelope"></span>
                                            &ensp;
                                            Enviar
                                        </a>
                                    </li>
                                    <li>
                                        <a type="submit"
                                           ng-click="delete(notaFiscal.id)"
                                           ng-if="notaFiscal.situacao == 'ABERTA'"
                                           class="text-danger">
                                            <span class="fa fa-trash"></span>
                                            &ensp;
                                            Remover
                                        </a>
                                    </li>
                                    <li>
                                        <a type="submit"
                                           title="Clique para solicitar o cancelamento do documento"
                                           ng-click="cancelarNota(notaFiscal)"
                                           class="text-danger">
                                            <span class="fa fa-trash"></span>
                                            &ensp;
                                            Cancelar
                                        </a>
                                    </li>
                                    <li>
                                        <a type="submit"
                                           title="Clique para enviar a carta de correção do documento"
                                           ng-click="cartaCorrecaoNota(notaFiscal)"
                                           ng-if="notaFiscal.situacao == 'EMITIDA' || notaFiscal.situacao == 'PAGA'"
                                           class="text-danger">
                                            <span class="fa fa-edit"></span>
                                            &ensp;
                                            Carta de Correção
                                        </a>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right font-bold">
                                Totais:
                            </td>
                            <td class="font-bold">{{getTotalServicos() | currency : 'R$ '}}</td>
                            <td class="font-bold">{{getTotalBaseCalculo() | currency : 'R$ '}}</td>
                            <td class="font-bold">{{getTotalIss() | currency : 'R$ '}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="col-md-12 text-right">
                        <button class="btn btn-primary btn-outline"
                                title="Clique para baixar as notas da tabela acima em formato de XML"
                                ui-sref="exportarXml({tipo:'EMITIDA'})">
                            <i class="fa fa-download"></i>
                            XML
                        </button>

                        <button class="btn btn-danger btn-outline"
                                title="Clique para baixar as notas resumidas em PDF"
                                ng-click="baixarPDFResumido()">
                            <i class="fa fa-download"></i>
                            PDF (Resumido)
                        </button>

                        <button class="btn btn-danger btn-outline"
                                title="Clique para baixar as notas detalhadas em PDF"
                                ng-click="baixarPDFDetalhado()">
                            <i class="fa fa-download"></i>
                            PDF (Detalhado)
                        </button>

                        <button class="btn btn-primary btn-outline"
                                title="Clique para baixar as notas da tabela acima em formato de Excel"
                                ng-click="baixarExcel()">
                            <i class="fa fa-download"></i>
                            Excel
                        </button>

                    </div>

                    <span nfse-app-pagination></span>
                </div>
            </div>
        </div>
    </div>
</div>



